@import url('https://fonts.googleapis.com/css2?family=Jost&family=Permanent+Marker&display=swap');
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}
html {
  background: #F9F8F8;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

[data-theme="dark"] {
  background-color: #272838;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  /* border: solid black 1px; */
}
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100vh;
  width: 25vw;
  padding: 0px 10px 0px 30px;
  margin: 10px 0px;
}
.mode {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
}
.name {
  color: #8661C1;
  font-family: 'Jost', sans-serif;
  font-size: 5.8rem;
  text-align: right;
}

.dev-title {
  color: #272838;
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  text-align: right;
}
.about {
  text-align: right;
  color: #272838;
  font-family: 'Jost', sans-serif;
  font-size: 2.1rem;
}
.contact-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  padding-top: 10px;
  margin-bottom: 5px;
  color: black;
}
.contact-hover:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1)
}
.linkedin-logo {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  opacity: 0.8;
}
.email-icon {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  opacity: 0.8;
}

.devicon-github-plain-wordmark {
  color: black;
  height: 50px;
  width: 50px;
  margin: 0px 15px;
  opacity: 0.8;
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 75vw;
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;

}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  height: 73vh;
  width: 43.5%;
  background-color: rgb(245, 245, 240);
  border: solid lightgrey 1px;
  -webkit-box-shadow: 2px 2px 15px 1px lightgrey;
          box-shadow: 2px 2px 15px 1px lightgrey;
  margin: 20px 10px;
  padding: 0px 10px 0px 10px;
  color: black;
}
.pre-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 95%;
  padding-top: 40px;
  /* margin: 10px 0px; */
}
.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  margin-top: 20px;
  padding: 7px 7px 0px;
  background-image: -webkit-gradient(
    linear, 
    left top, right bottom, 
    color-stop(45%, rgb(199, 198, 198)),
    color-stop(60%, whitesmoke),
    color-stop(85%, rgb(199, 198, 198))
  );
  background-image: -o-linear-gradient(
    top left, 
    rgb(199, 198, 198) 45%,
    whitesmoke 60%,
    rgb(199, 198, 198) 85%
  );
  background-image: linear-gradient(
    to bottom right, 
    rgb(199, 198, 198) 45%,
    whitesmoke 60%,
    rgb(199, 198, 198) 85%
  );
}
.project-image {
  height: 30vh;
  width: 100%;
  cursor: pointer;
}
.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding-top: 20px; */
}
.scroll-projects {
  height: 80px;
  width: 80px;
  z-index: 2;
}
.show-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(245, 245, 240);
}
.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #272838;
  font-family: 'Jost', sans-serif;
  font-size: 1.7rem;
  color: whitesmoke;
  width: 95%;
  height: 70%;
  margin-top: 10px;
  padding: 50px;
  opacity: 1;
}
.detail-text {
  height: 100%;
  cursor: pointer;
}
.links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Permanent Marker', cursive;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  color: whitesmoke;
  font-size: 2rem;
}
.link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1)
}
.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  width: 100%;
  border: solid purple 1px;
}
.tech-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 10px;
  font-size: 45px;
  color: gray;
}
.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.9rem;
}
.hidden {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    height: 100vh;
    width: 100vw;
    padding: 10px;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
    width: 100vw;
    padding: 10px 0px 0px 0px;
    margin: 0px;
  }
  .mode {
    display: none;
  }
  .about {
    padding: 0px 20px; 
    font-size: 2.1rem;
  }
  .name {
    padding-right: 20px;
  }
  .dev-title {
    padding-right: 20px;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65vh;
    width: 100%;
    margin: 0px 20px;
    overflow: scroll;
  }
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    height: 65vh;
    width: 70vw;
    background-color: white;
    border: solid lightgrey 1px;
    -webkit-box-shadow: 2px 2px 20px 2px lightgrey;
            box-shadow: 2px 2px 20px 2px lightgrey;
    margin: 10px 20px;
    padding: 0px 10px;
  }
  .contact-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #272838;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 5px;
    /* margin-left: 290px; */
  }
  .contact-hover:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
  }
  .linkedin-logo {
    color: #272838;
    height: 40px;
    width: 40px;
    margin: 0px 15px;
    opacity: 0.8;
  }
  .email-icon {
    color: #272838;
    height: 40px;
    width: 40px;
    margin: 0px 15px;
    opacity: 0.8;
  }
  .devicon-github-plain-wordmark {
    color: #272838;
    height: 40px;
    width: 40px;
    margin: 0px 15px;
    opacity: 0.9;
  }
  
}

@media only screen and (max-width: 750px) {
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 95vh;
    width: 100vw;
    margin: 10px 0px;
  }
  .mode {
    display: none;
  }
  .name {
    color: #8661C1;
    font-family: 'Jost', sans-serif;
    font-size: 1.9rem;
    text-align: right;
  }
  .dev-title {
    color: #272838;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    text-align: right;
  }
  .about {
    text-align: right;
    color: #272838;
    font-family: 'Jost', sans-serif;
    font-size: 2.1rem;
  }
  .contact-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #272838;
    font-size: 50px;
    padding-top: 10px;
    /* margin-bottom: 5px; */
  }
  .contact-hover:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
  }
  .linkedin-logo {
    color: #272838;
    height: 50px;
    width: 50px;
    margin: 0px 15px;
    opacity: 0.8;
  }
  .email-icon {
    color: #272838;
    height: 50px;
    width: 50px;
    margin: 0px 15px;
    opacity: 0.8;
  }
  .devicon-github-plain-wordmark {
    color: #272838;
    height: 50px;
    width: 50px;
    margin: 0px 15px;
    opacity: 0.9;
    }
  .main-content {
  display: none;
    }
}